// Secondary Menu
// --------------------------------------------------

#secondary-menu {
  background-color: $gray-lighter;
  padding: 5px 0;
}
#secondary-menu-links {
  float: right; /* LTR */
  font-size: 0.929em;
  margin: 0 10px 0;
}
#secondary-menu-links a:hover,
#secondary-menu-links a:focus {
  text-decoration: underline;
}
