// Logo
// --------------------------------------------------

.logo {
  margin-top: ceil((60px - 20px) / 2);
  float: left;
  display: block;
  img {
    height: 20px;
	@include transition(all .4s ease-in-out);
  }
  @media (min-width: $grid-float-breakpoint) {
    margin-top: ceil((80px - 25px) / 2);
    img {
	  height: 25px;
	}
  }
}
